<div class="bg-secondary">
    <div style="height: 250px;" class='container mt-5 w-100 '>
        <div class='d-flex justify-content-between'>
          <div style="width: 400px;" class="intro">
            <h5 class="fw-bolder"> <i class="fa-solid fa-crown me-2"></i> Style Guru</h5>
            <p style="color: white;">
              Designed and built with all the love in the world by the Luminar Team with the help of our contributors.
            </p>
            <p style="color: white;">Code licensed LUMINAR, docs CC BY 3.0.</p>
            <p style="color: white;">Currently v5.3.2.</p>
          </div>
          <div class="links d-flex flex-column">
            <h5>Help</h5>
            <a routerLink="/" style="text-decoration: none; color: white;">Home</a>
            <a routerLink="/cart" style="text-decoration: none; color: white;">Cart</a>
            <a routerLink="/wishlist" style="text-decoration: none; color: white;">Wishlist</a>
          </div>
          <div class="guides d-flex flex-column">
            <h5>Registered Address</h5>
            <a href="https://react.dev/" style="text-decoration: none; color: white;" target='_blank'>Manhattan PO</a> <br />
            <a href="https://react-bootstrap.github.io/" style="text-decoration: none; color: white;" target='_blank'>Near Center Square</a> <br />
            <a href="https://reactrouter.com/en/main" style="text-decoration: none; color: white;" target='_blank'>NewYork City</a>
          </div>
          <div class="contact d-flex flex-column">
            <h5>Contact Us</h5>
            <div class="d-flex">
              <input placeholder='Enter your email here' type="text" class='form-control' />
              <button class='btn btn-info ms-1'> <i class='fa-solid fa-arrow-right'></i> </button>
            </div>
            <div class="icons d-flex justify-content-between mt-3">
              <a href="" style="text-decoration: none;" target='_blank'> <i class='fa-brands fa-twitter'></i> </a>
              <a href="" style="text-decoration: none;" target='_blank'> <i class='fa-brands fa-facebook'></i> </a>
              <a href="" style="text-decoration: none;" target='_blank'> <i class='fa-brands fa-linkedin'></i> </a>
              <a href="" style="text-decoration: none;" target='_blank'> <i class='fa-brands fa-instagram'></i> </a>
              <a href="" style="text-decoration: none;" target='_blank'> <i class='fa-brands fa-github'></i> </a>
              <a href="" style="text-decoration: none;" target='_blank'> <i class='fa-solid fa-phone'></i> </a>
            </div>
          </div>
        </div>
        <p style="color: white;" class='text-center mt-3'>Copyright © Jan Batch, 2024 STYLE GURU built with ANGULAR.</p>
    </div>
</div>
